<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <servlet>
        <servlet-name>ExternalMessageServlet</servlet-name>
        <servlet-class>fr.sewatech.appserv.web.ExternalServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>InternalMessageServlet</servlet-name>
        <servlet-class>fr.sewatech.appserv.webbis.InternalServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>ExternalMessageServlet</servlet-name>
        <url-pattern>/outmsg</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>InternalMessageServlet</servlet-name>
        <url-pattern>/inmsg</url-pattern>
    </servlet-mapping>
</web-app>